html, body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,"Microsoft Yahei",Arial,sans-serif;
}
.header-tip{
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    font-size: 21px;
    font-weight: 600;
    color: #ffffff;
}
.title-tip{
    position: absolute;
    top: 69px;
    left: 0;
    width: 100%;
    font-size: 14px;
    color: #eaeaea;
}
.gongxi-tip{
    font-weight: 600;
    position: absolute;
    top: 2.52rem;
    left: 0;
    width: 100%;
    font-size: 0.42rem;
    color: #fdee00;
}
.get-tip{
    position: absolute;
    top: 3.24rem;
    left: 0;
    width: 100%;
    font-size: 0.24rem;
    color: #fdee00;
}
.join-btn{
    margin: 0 auto;
    width: 70%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    top: -60px;
}
.true-btn{
    display: block;
    z-index: 2;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #ED3737;
    background: #f3e047;
    border-radius: 30px;
    position: relative;
}
.true-btn:link{
    background: #f3e047;
}
.true-btn:visited{
    background: #EDC500;
}
.true-btn:hover{
    background: #f3e047;
}
.true-btn:active{
    background: #EDC500;
}
.join-btn:before{
    z-index: 1;
    display: block;
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 100%;
    height: 100%;
    background: rgb(206, 97, 95);
    border-radius: 30px;
}
.look-tip{
    font-size: 14px;
    color: #919191;
    margin-bottom: 16px;
    margin-top: -20px;
}
.plist{
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: solid 1px #F5F2EF;
}
.pitem {
    background: #ffffff;
    border-bottom: solid 1px #F5F2EF;
    height: 54px;
    position: relative;
}
.header-img {
    position: absolute;
    left: 10px;
    width: 32px;
    height: 32px;
    background: #990000 url("") no-repeat center;
    background-size: cover;
    border-radius: 30px;
    top: 10px;
}
.name {
    position: absolute;
    left: 52px;
    top: 8px;
    font-size: 14px;
    color: #333333;
}
.time {
    position: absolute;
    left: 52px;
    top: 28px;
    font-size: 12px;
    color: #919191;
}
.get-num {
    position: absolute;
    right: 10px;
    top: 0;
    height: 54px;
    line-height: 54px;
    font-size: 15px;
    color: #2e2e2e;
}
.fix{
    width: 100%;
    left: 0;
    bottom: 0;
}
.content{
    margin: 0;
    padding: 0;
    position: relative;
}
.content-bg{
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
}
.mv.pitem{
    margin: 0 auto;
    animation: myfirst 1s;
    -webkit-animation: myfirst 1s;
}
@keyframes myfirst
{
    0%   {height: 1px;width: 90%;opacity: 0.1;}
    100%  {height: 54px;width: 100%;opacity: 1;}
}
@-webkit-keyframes myfirst
{
    0%   {height: 1px;width: 90%;-webkit-opacity: 0.1;}
    100%  {height: 54px;width: 100%;-webkit-opacity: 1;}
}
